.pkmnHeader {
  width: 300px;
}

.firstPkmnLegend {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(0, 160, 182, 0.5) 100%);
  cursor: pointer;
}

.secondPkmnLegend {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(186, 0, 79, 0.5) 100%);
  cursor: pointer;
}

::ng-deep.cdk-overlay-pane {
  position: fixed;
  background-color: #fff;
}

::ng-deep.mdc-notched-outline {
  color: #fff !important;
}

::ng-deep .mat-option:hover {
  background-color: #9b9b9b;
}

input {
  color: #fff;
}

mat-form-field {
  height: 50px;
}

:host::ng-deep.mat-mdc-text-field-wrapper {
  display: flex;
  align-items: center;
}

::ng-deep.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::ng-deep.mat-mdc-option {
  &:hover {
    background-color: #d7d7d7;
  }

  &:focus {
    background-color: #d7d7d7;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 90%;
  }
}

.pkmnSprite {
  animation: 0.3s infinite bouncingPkmn;
  -webkit-animation: 0.3s infinite bouncingPkmn;
}

:host::ng-deep.mat-mdc-button {
  background-color: #fff;
}

:host::ng-deep.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

button {
  height: 50px;
  width: 50px;

}

.versus {
  height: 50px;
  width: 50px;
}

.comparisonChart {
  height: 350px;
  width: 350px;

  @media screen and (min-width:768px) {
    height: 450px;
    width: 450px;
  }
}

.grass {
  color: #fff;
  background: linear-gradient(#66B660, #9de998);
}

.fire {
  color: #fff;
  background: linear-gradient(#fd7e14, #ffa357);
}

.water {
  color: #fff;
  background: linear-gradient(#4791ff, #87b7ff);
}

.normal {
  color: #fff;
  background: linear-gradient(#adb5bd, #d7e1ec);
}

.bug {
  color: #fff;
  background: linear-gradient(#8cb735, #c9ee7d);
}

.poison {
  color: #fff;
  background: linear-gradient(#A96AC8, #d3a1eb);
}

.electric {
  color: #fff;
  background: linear-gradient(#ffd34d, #ffe38e);
}

.ground {
  color: #fff;
  background: linear-gradient(#D87844, #e9a580);
}

.fairy {
  color: #fff;
  background: linear-gradient(#ff9fcf, #fac1dd);
}

.fighting {
  color: #fff;
  background: linear-gradient(#c75a00, #e1a06b);
}

.psychic {
  color: #fff;
  background: linear-gradient(#d63384, #ee85b9);
}

.rock {
  color: #fff;
  background: linear-gradient(#D1C6A3, #ffefc0);
}

.ghost {
  color: #fff;
  background: linear-gradient(#5569AD, #8e9fd8);
}

.ice {
  color: #fff;
  background: linear-gradient(#73CEBF, #a3d1ca);
}

.dragon {
  color: #fff;
  background: linear-gradient(#0F6FC3, #589cd8);
}

.flying {
  color: #fff;
  background: linear-gradient(#8EA8DE, #c5d8ff);
}

.steel {
  color: #fff;
  background: linear-gradient(#5A8DA1, #8fbacb);
}

.dark {
  color: #fff;
  background: linear-gradient(#5A5365, #978ca9);
}

@keyframes bouncingPkmn {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}
