<main>
  <h2 class="text-light text-center py-3 display-2 px-2">
    <span *ngIf="ownPkmn.name == ''">Scegli il tuo pokemon</span>
    <span *ngIf="ownPkmn.name != ''">Scegli il pokemon avversario</span>
  </h2>
  <form [formGroup]="searchbarForm" class="d-flex justify-content-center">
    <mat-form-field class="mx-3">
      <mat-label>Cerca</mat-label>
      <input matInput formControlName="nome" type="text" [matAutocomplete]="auto"
        (keyup)="liveSearch(searchbarForm.value.nome)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" panelClass="custom-autocomplete-panel">
      <mat-option *ngFor="let pkmn of pokeList" [value]="pkmn.name" (click)="searchPkmn(pkmn.url)">
        {{pkmn.name}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div class="w-100 d-flex justify-content-center">
    <button *ngIf="ownPkmn.name != ''" class="btn btn-outline-light mx-auto my-3" type="button" (click)="clearChoosenPkmn()">HAI SCELTO {{ownPkmn.name.toLocaleUpperCase()}} <br> CAMBIA</button>
  </div>
  <app-preview-card *ngIf="pkmnPreview" [pokemon]="pkmnPreview" ></app-preview-card>
</main>
