<main>
  <h2 class="text-light text-center py-3 display-2 px-2">
    <span>Scegli il tuo pokemon</span>
  </h2>
  <!-- <form [formGroup]="searchbarForm" class="d-flex justify-content-center" (submit)="onSubmit()">
    <mat-form-field class="mx-3">
      <mat-label>Cerca</mat-label>
      <input matInput formControlName="nome" type="text" [matAutocomplete]="auto"
        (keyup)="liveSearch(searchbarForm.value.nome)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" panelClass="custom-autocomplete-panel">
      <mat-option *ngFor="let pkmn of pokeList" [value]="pkmn.name" (click)="searchPkmn(pkmn.url)">
        {{pkmn.name}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div class="w-100 d-flex justify-content-center">
    <button *ngIf="ownPkmn.name != ''" class="btn btn-outline-light mx-auto my-3" type="button"
      (click)="clearChoosenPkmn()">HAI SCELTO {{ownPkmn.name.toLocaleUpperCase()}} <br> CAMBIA</button>
  </div>
  <app-preview-card *ngIf="pkmnPreview" [pokemon]="pkmnPreview"></app-preview-card> -->
  <div class="container-lg">>
    <div class="row">
      <app-demo-selection class="col-12 col-md-4 mb-3" *ngFor="let rentPkmn of rentalPkmn"  [pkmnToShow]="rentPkmn" (click)="selectPkmn(rentPkmn)"></app-demo-selection>
    </div>
  </div>
</main>
