<main class="text-white">
  <div class="container mx-auto py-5">
    <div class="row">
      <div class="col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-center">CERCA UN POKEMON</h5>
            <p class="card-text">Cerca un pokemon e visualizza le sue debolezze, i suoi punti di forza e le sue
              statistiche.</p>
            <a routerLink="/search" class="btn btn-primary w-100">VAI</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-center">BATTLE SIMULATOR</h5>
            <p class="card-text">Non ancora disponibile.</p>
            <a href="https://i.etsystatic.com/6144628/r/il/7e0a9d/1038611636/il_fullxfull.1038611636_9gqb.jpg"
              target="_blank" class="btn btn-primary w-100">VAI</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-12">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-center">CONFRONTA</h5>
            <p class="card-text">Confronta le statistiche e le tipologie di due pokemon e valuta quello migliore per te.
            </p>
            <a routerLink="/pokemon-comparison" class="btn btn-primary w-100">VAI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <small class="text-center d-block text-white pt-5 px-2">Tutti i diritti sono riservati ai legittimi proprietari.</small>
  <small class="text-center d-block text-white pb-5 px-2">Scopri altri progetti su <a class="text-white" target="_blank" href="https://gennerentola.github.io/">Gennaro Notaro</a></small>
</main>
